[submodule "emacs.d/vendor/icicles"]
	path = emacs.d/vendor/icicles
	url = git://github.com/emacsmirror/icicles.git
[submodule "emacs.d/vendor/org-mode"]
	path = emacs.d/vendor/org-mode
	url = git://github.com/emacsmirror/org-mode.git
[submodule "emacs.d/vendor/color-theme"]
	path = emacs.d/vendor/color-theme
	url = git://github.com/emacsmirror/color-theme.git
[submodule "emacs.d/vendor/auto-complete"]
	path = emacs.d/vendor/auto-complete
	url = git://github.com/emacsmirror/auto-complete.git
[submodule "emacs.d/vendor/twilight-emacs"]
	path = emacs.d/vendor/twilight-emacs
	url = git://github.com/inkel/twilight-emacs.git
[submodule "emacs.d/vendor/yasnippet"]
	path = emacs.d/vendor/yasnippet
	url = git://github.com/emacsmirror/yasnippet.git
[submodule "emacs.d/vendor/anything"]
	path = emacs.d/vendor/anything
	url = git://github.com/emacsmirror/anything.git
[submodule "emacs.d/vendor/evil"]
	path = emacs.d/vendor/evil
	url = git://github.com/emacsmirror/evil.git
[submodule "emacs.d/vendor/matlab"]
	path = emacs.d/vendor/matlab
	url = git://github.com/emacsmirror/matlab.git
[submodule "emacs.d/vendor/jade-mode"]
	path = emacs.d/vendor/jade-mode
	url = git://github.com/brianc/jade-mode.git
[submodule "emacs.d/vendor/desktop-menu"]
	path = emacs.d/vendor/desktop-menu
	url = git://github.com/emacsmirror/desktop-menu.git
